.comment {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &:not(:last-of-type) {
    border-bottom: 1px solid #e3e3e3;
  }

  &__info {
    margin-right: 15px;

    &__author {
      font-size: rem(16);
      margin-bottom: 15px;
    }

    &__rate {
      color: $color-yellow;
      margin-top: 20px;
    }
  }

  &__date {
    min-width: max-content;
    color: #a0a1a2;
  }

  &__form {
    padding: 30px;
    box-shadow: $main-box-shadow;
    border-radius: 16px;
  }
}
