.login {
  background-image: url(../img/modal-bg.png);

  &__form {
    width: 50%;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      width: 90%;
    }

    .show-password {
      position: absolute;
      #{$right}: 10px;
      top: 50px;
      color: #a0a1a2;
      cursor: pointer;
    }
  }
}

.success {
  background-image: url(../img/modal-bg.png);
  height: calc(100vh - 109px);
  background-size: cover;
  position: relative;
}
